{{> head}}
{{> navbar}}
    
    <div class="row">
        <div class="col-8">
            <h1>Storm-trooper in the desert | Unsplash image </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, atque maiores, ipsam unde provident expedita error omnis sunt qui mollitia hic eligendi voluptate praesentium ut deleniti voluptas. Ipsa, rerum commodi!</p>
        </div>
    </div>

    <div class="col-4">
        <img src="assets/img/storm-sand.jpg" class="img-thumbnail" alt="storm-trooper desert">
    </div>

{{> footer}}